<div class="row g-5">
  <!-- LEFT: fixed-size scrollable panel -->
  <div class="col-8 px-0 bg-light bg-image card-border">
    <div class="d-flex align-items-end h-100">
      <div class="chat-bg max-vh-25 card-border overflow-y-auto pe-3 flex-grow-1 m-2">
        <% @display_messages.each do |message| %>
          <% if message.role == "user" %>
            <div class="chat-line d-flex flex-column align-items-end p-1">
              <p class="me-2 m-0 text-light"> <%= @character.name %> </p>
              <div class="chat-bubble py-1 px-2 border rounded-5 border-light text-light">
                <%= message.content %>
              </div>
            </div>
          <% else %>
            <div class="chat-line d-flex flex-column align-items-start p-1">
              <p class="me-2 m-0 text-light"> Narrator </p>
              <div class="chat-bubble py-1 px-2 border rounded-5 border-light text-light">
                <%= message.content %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- RIGHT: stacked panel + buttons + input + submit -->
  <div class="col-4">
    <div class="d-flex flex-column justify-content-between gap-2 fill-page">
      <div class="my-character-card card-border bg-light pt-3 ps-4 pe-4 pb-2">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", class="img-fluid card-border" />

        <div class="my-character-info">
          <div class="border-bottom">
            <h3 class="mt-2 mb-0"><%= @character.name %></h3>
            <p class="m-0 text-light"><%= @character.character_class %></p>
          </div>
            <p class="m-0">Level <%= @story.level %> - <%= @character.race %></p>
            <p class="m-0">Health Points: <%= @story.health_points %></p>
        </div>
      </div>

      <!-- Button 1 -->
      <div class="d-flex align-items-center justify-content-center">
        <%= button_to @story.messages.last.option_1,
            story_messages_path(@current_message.story_id),
            method: :post,
            params: {
                message: {
                content: @story.messages.last.option_1
                }
            },
            form: { class: "w-100" },
            class: "btn btn-secondary p-2 text-dark rounded-pill w-100"
        %>
      </div>

      <!-- Button 2 -->
      <%= button_to "#{@story.messages.last.option_2}",
          story_messages_path(@current_message.story_id),
          method: :post,
          params: {
              message: {
              content: @story.messages.last.option_2
              }
          },
          form: { class: "w-100" },
          class: "btn btn-secondary p-2 text-dark rounded-pill w-100"
      %>

      <!-- Chat input + submit button -->
      <%= simple_form_for @message,
            url: story_messages_path(@current_message.story_id, @message),
            method: :post,
            html: { class: "mb-0 bg-light p-2 card-border h-25" } do |f| %>
              <%= f.input :content,
                  as: :text,
                  label: false,
                  wrapper: false,
                  input_html: { class: "mb-0 bg-white card-border h-75" },
                  placeholder: "Custom Choices go here..." %>

        <div class="d-flex justify-content-end">
          <%= f.button :submit, "Submit", class: "btn btn-outline-dark mt-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
