<div class="container-fluid character-wrapper bg-info m-2 p-4" data-controller="character-image-generation">
  <div class="row vh-90 m-2">

    <%= form_with model: @character,
                  local: true,
                  class: "row w-100 m-0 h-100 ",
                  data: { character_image_generation_target: "form" } do |f| %>

      <!-- ===== ERROR MESSAGES ===== -->
      <% if @character.errors.any? %>
        <div class="alert alert-danger m-3">
          <ul class="mb-0">
            <% @character.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- ================= LEFT (60%) ================= -->
      <div class="col-lg-7 preview-column d-flex align-items-center justify-content-center bg-info">
        <div class="card preview-card w-100 p-4 h-100 d-flex flex-column bg-white">
          <div class="d-flex justify-content-between">
              <h5>Generate Character:</h5>
            <div class="d-flex justify-content-end align-items-center bg-white">
              <button type="button"
                      class="btn btn-sm btn-outline-secondary text-dark me-4"
                      id="editAppearanceBtn"
                      data-action="click->character-image-generation#showInput">
                Edit
              </button>
              <button type="button" class="btn btn-outline-primary" data-action="click->character-image-generation#generateImage" data-character-image-generation-target="generateBtn">
                Generate Appearance
              </button>
            </div>
        </div>

          <div class="preview-image-wrapper text-center mt-3 flex-grow-1 d-flex align-items-center justify-content-center ">
            <%= image_tag "https://i.pinimg.com/736x/b3/7e/ae/b37eae5174dd61d337fe1fb7d9bfe979.jpg",
                  class: "img-fluid preview-image", data: { character_image_generation_target: "preview"} %>
          </div>

          <!-- Campo de aparência separado do bio -->
          <div id="appearanceInput" class="d-none mt-3" data-character-image-generation-target="appearanceInputContainer">
            <label for="appearance_description">Appearance Description</label>
            <textarea id="appearance_description" class="form-control bg-white" rows="3" data-character-image-generation-target="appearanceInput"></textarea>
          </div>

              <p class="mt-2 small">* Set the character information and then try to generate an image.</p>
        </div>
      </div>

      <!-- ================= RIGHT (40%) ================= -->
      <div class="col-lg-5 form-column d-flex">
        <div class="card form-card w-100 p-4 h-100 d-flex flex-column bg-white">

          <!-- ===== FIXED SECTION ===== -->
          <div class="fixed-basic-info bg-white">

            <div class="mb-3 ">
              <h5>What your adventurer's name?</h5>
              <p class="small">Start by choosing your character's main settings.</p>
              <hr>
              <%= f.label :name, "Character Name" %>
              <%= f.text_field :name, class: "form-control bg-white", required: true %>
            </div>

            <div>
              <label class="form-label">Gender</label><br>

              <% ["Male", "Female", "Other"].each do |gender| %>
                <%= f.radio_button :gender,
                    gender,
                    class: "btn-check",
                    id: "gender_#{gender}",
                    data: {
                      character_image_generation_target: "genders"
                    }
                %>
                <%= label_tag "gender_#{gender}",
                      gender,
                      class: "btn btn-outline-primary me-2 mb-2" %>
              <% end %>
            </div>

            <hr class="mt-4">
          </div>

          <!-- ===== STEPS AREA ===== -->
          <div class="steps-wrapper flex-grow-1 overflow-auto">

            <!-- STEP 1 -->
            <div class="form-step" id="step-1" data-character-image-generation-target="steps">
              <h6 class="mt-3 mb-2">Select Class:</h6>
              <div class="row">
                <% ["Warrior","Mage","Rogue",
                    "Cleric","Paladin","Ranger",
                    "Monk","Bard","Druid", ].each do |klass| %>
                  <div class="col-4 mb-3">
                    <%= f.radio_button :character_class,
                          klass,
                          class: "btn-check",
                          id: "class_#{klass}",
                          data: {
                            character_image_generation_target: "classes"
                          } %>
                    <%= label_tag "class_#{klass}",
                          klass,
                          class: "btn btn-outline-primary w-100" %>
                  </div>
                <% end %>
              </div>
              <div class="text-end mt-3">
                <button type="button" class="btn btn-primary next-step" data-action="click->character-image-generation#next">
                  Next
                </button>
              </div>
            </div>

            <!-- STEP 2 -->
            <div class="form-step d-none" id="step-2" data-character-image-generation-target="steps">
              <h6 class="mt-3 mb-2">Select Race:</h6>
              <div class="row">
                <% ["Human","Elf","Dwarf",
                    "Orc","Tiefling","Gnome",
                    "Dragonborn","Halfling","Half-Elf"].each do |race| %>
                  <div class="col-4 mb-3">
                    <%= f.radio_button :race,
                          race,
                          class: "btn-check",
                          id: "race_#{race}",
                          data: {
                            character_image_generation_target: "races"
                          }
                           %>
                    <%= label_tag "race_#{race}",
                          race,
                          class: "btn btn-outline-primary w-100" %>
                  </div>
                <% end %>
              </div>
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-primary prev-step" data-action="click->character-image-generation#previous">
                  Back
                </button>
                <button type="button" class="btn btn-primary next-step" data-action="click->character-image-generation#next">
                  Next
                </button>
              </div>
            </div>

            <!-- STEP 3 -->
            <div class="form-step d-none" id="step-3" data-character-image-generation-target="steps">
              <h6 class="mt-3 mb-2">Biography</h6>
              <%= f.text_area :bio,
                    class: "form-control bg-white mb-3",
                    rows: 5 %>

              <input type="text" name="character[img_url]" id="" hidden data-character-image-generation-target="imageFile">

              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-primary prev-step" data-action="click->character-image-generation#previous">
                  Back
                </button>
                <%= f.submit "Create Character",
                      class: "btn btn-secondary" %>
              </div>
            </div>

          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
