<div class="d-flex justify-content-center align-items-center mt-5 mx-auto">
  <div class="col-5">
    <div class="card bg-primary rounded-0 card-border">
      <div class="mb-3 mt-3 mx-3 pb-0 bg-light">
        <div class="card-body">
          <h2 class="text-center">Log in</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: "bg-white" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password", class: "bg-white" } %>
              <%= f.input :remember_me, as: :boolean, class: "" if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-primary mb-2" %>
            </div>
          <% end %>
          <p class="m-0">No account yet?</p>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
